* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    transition: background 0.1s linear;
}

body.dark {
    filter: invert(1) hue-rotate(180deg);
    background-color: rgb(39, 38, 38);
    width: 100%;
    display: inline-block;
}

h1 {
    background-color: rgb(155, 155, 155);
    width: 100%;
    position: relative;
}

.Hauptseite {
    padding-top: 20px;
}

.container {
    width: 100%;
    text-align: center;
    align-items: center;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.label {
    display: inline-block;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
}

.bi-list {
    color: #fafafa;
    font-size: 40px;
    display: inline-block;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 30px;
}

.bi-info-circle {
    color: #fafafa;
    font-size: 40px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 0px;
}

table {
    padding: 10px;
    display: inline-block;
}

td {
    border: 2px solid #111;
    padding: 5px;
    width: 500px;
}

.autofill {
    border-color: #111;
}

.WeiterButton {
    border-color: #111;
}